<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>  <!-- Include the head partial -->
<body>
    <!-- Navbar -->
     <%- include('partials/navbar') %>

    <!-- Main Content -->

     <!--Front page-->
  <div class="container" id="front-page" style="margin-top: 2rem;">
    <div class="text-content" id = text-content-front>
      <h1 style="margin-bottom: 100px;">Hi, I'm Syed Saad Ali,<br> and I'm a <span class="highlight">Software Developer</span>.</h1>
      <h3>I aspire to leverage technology for sustainable development.</h3>
    </div>
    <img class="profile-image" src="./images/realme.jpg" alt="Profile Image">
  </div>
    <!--Story page-->
  <div class="container" id="story-page" >
    <div class="text-content" id = text-content-story style="padding-left: 0%;">
      <div>
        <h1>My story</h1>
        <p>My name is Syed Saad Ali. A UBC computer science student dedicated towards taking my degree towards sustainable development. I initially pursued computer science with a passion for game development. However, I soon discovered the vast opportunities for interdisciplinary collaboration that technology offers. With this realization, I decided to channel my skills towards sustainable development, aiming to make a meaningful impact through innovation. </p>
      </div>
      <div>
        <h1 style="margin-top: 3rem;">Why <span class="highlight">Sustainability</span>?</h1>
        <p>A big desire I have from my career is to make it meaningful, to have a positive impact. Upon research, I discovered the numerous opportunities that computer science offers in sustainable development, such as creating energy-saving algorithms, using AI to predict natural disasters, and harnessing IoT and data science for environmental monitoring. These possibilities are so exciting that I find myself wanting to explore them all. Moreover, sustainable development is crucial in today's world, making this work not only fascinating but also essential for a better future.</p>
      </div>
    </div>
    <img class="profile-image" src="./images/reallyme.jpg" alt="Profile Image">
  </div>
    
    
    
    
    <%- include('partials/carousel') %>  <!-- Include the carousel partial -->

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
